@charset "utf-8";


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: black;
    margin: 0px;
    padding: 0px;
 
}

#principal
{
    width: 1180px;
    height: auto;    /*3890px, auto no esta pegando por algum motivo*/
    margin: 0 auto;
    padding: 10px;
    background-color: dimgray;
   
}

#topo
{
    width: 100%;
    height: 80px;
    padding: 0px;
    left: 80px;
   background-color: #3b1063;
  
}

#menu
{
   float: right;
    width: 702px;
    height: 60px;
    color: white;
    padding-top: 9px;
}

#navegacao
{
    display: flex;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
    gap: 25px; /*cia uma separacao entre os elementos*/
   
    
}
#navegacao li /*criacao do quadrado do lado do menu*/
{
    /*float: right;*/
    list-style: square; 
    margin-right: 15px;
     color: white;
    /* margin: 0px 110px 0px 0px;*/
      
}


a.linkmenu:link, a.linkmenu:visited /*configuracoes do menu - utilizado nas pag home*/
{
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    font-weight: bold;
    color: white;
   
}


.bt /*botao do guardar curriculo*/
{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #9400D3;
    line-height: 50px;
    border-radius: 15px;
    margin-top: -9px;
    box-shadow: 5px 5px 0px black;
}

a.bt:link, a.bt:visited /*configuracoes do botao no menu - utilizado nas pag home*/
{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    
   
}

a.bt:hover, a.bt:active
{
    color: black;
    border-radius: 700px;
    border: dashed;
    background-color: #BA55D3;   
}



/*#botao:hover{
    color: black;
    border-radius: 700px;
    border: dashed;
    background-color: chartreuse;
}


definicoes antigas do  botao com class bt
a.bt:hover, a.bt:active
{
    color: black;
    border-radius: 700px;
    border: dashed;
    background-color: chartreuse !important;   
}



*/

#logo img
{
    float: left;
     width: 50px;
     height: 50px; 
     margin-top: 11px;
     margin-left: 10px;
}
/*configuracoes do banner */
.banner
{
    /*width: 100%;*/
    height: 807px;
    left: 80px;
    top: 80px;
    /*background-color: blueviolet;*/
    background-image: url(imagens/default.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    padding-top: 115px;
    padding-left: 90px;
    
}

.banner .wrapper
{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box
{
    margin-bottom: 40px;
    
}

.banner .navigation
{
    display: flex;
    justify-content: space-around;
}


.titulo
{
    font-size: 20px;
    color: #9370DB;
    text-shadow: 4px 4px 0px black;
    
}



h2 /*Subtitulo sem classe da caixa do banner*/
{
    font-size: 15px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px 0 black;
    color: white;
}

/*caixa no banner*/

.box
{
    display: inline-block;
    background-color: #3a4042 ;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 42px 0px;
}

.box h1
{
    margin-bottom: 28px;
}

/*fim das configuracoes do banner */


/*começo das configuracoes do skills */
#planoskills
{
    width: 100%;
    height: 600px;
    left: 80px;
    top: 887px;
    background-color: #3b1063;
    border-bottom: 10px solid #7c5e99;
    border-top: 10px solid #7c5e99;
    
}

.titulo.-second /*classe de variacao do componente h1 que tem a classe title*/
{
    color: white;
    text-shadow: none;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}



.skills {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; /*quebra a linha*/
    width: 100%;
    gap: 30px;
    text-shadow: none;
    color: white;
    text-align: right;
    /*flex-direction: column; - deixa todo mundo numa mesma coluna um em baixo do outro*/
    
  }

  .skill /*fazendo modificacao do titulo h3*/
  {
    display: flex;
    width: calc(50% - 15px);
    gap: 15px;
    text-shadow: none;
    color: white;
  }
  
  .skill span {
    flex-grow: 1;
  }

  .progcinza {
    width: 300px;
    height: 20px;
    background-color: #CCC;
    
  }
  
  .prog.-html {
    width: 125px;
    height: 20px;
    background-color: green;
  }

  .prog.-css {
    width: 250px;
    height: 20px;
    background-color: green;
  }

  .prog.-java {
    width: 100px;
    height: 20px;
    background-color: green;
  }

  .prog.-windows {
    width: 135px;
    height: 20px;
    background-color: green;
  }

  .prog.-linux {
    width: 40px;
    height: 20px;
    background-color: green;
  }


  .skill .icon {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 50px;
  }

/*fim das configuracoes do skills */



/* inicio da sessao projetos*/

#projetos
{
     width: 100%;
    height: 610px;
    left: 80px;
    padding-top: 10px;
    /*top: 1617px;*/
    background-color: #692c79 ;

}

/*quadrados da sessao projetos*/
.projetoqd1
{
    width: 200px;
   height: 200px;
   margin-left: 490px;
   margin-top: 70px;
   background-color: #4b0e5a;
   box-shadow: 10px 10px 0 black;

}

.projetoqd2
{
   width: 200px;
   height: 200px;
   float: left;
   margin-left: 100px;
   margin-top: -190px;
   background-color: white;
   box-shadow: 10px 10px 0 black;

}

.projetoqd3
{
   width: 200px;
   height: 200px;
   float: right;
   margin-top: -190px;
   margin-right: 100px;
   /*background-color: #4b0e5a;*/
   box-shadow: 10px 10px 0 black;

}
/* fim da sessao projetos*/

#sobre
{
    width: 100%;
    height: 793px;
    left: 80px;
    top: 2157px;
    background-color: darkorange;

}

#contato
{
    width: 1100px;
    height: 765px;
    margin-left: 35px;
    margin-bottom: 80px;
    top: 3000px;
    background-color: deeppink;
}

/* inicio configuracoes do rodape */
#rodape
{
    width: 100%;
    height: 100px;
    left: 80px;
    top: 3812px;
    background-color: #3a4042;
}

#copyright{
    text-align: center;
    color: rgb(250, 244, 244);
    width: 460px;
    height: 20px;
    padding: 30px;
    margin: 10px;
    line-height: 20px;
    /*background-color: chartreuse;*/
    float: left;
  }

 
  

  #icones
  {
      width: 590px;
      height: 80px;
      margin: 10px;
      /*background-color: cyan;*/
      float: right;
  }

  #quadrado1
  {
      width: 50px;
      height: 50px;
      margin-top: 15px;
      margin-left: 295px;
      background-color: darkmagenta;
  }
  
  #quadrado2
  {
      width: 50px;
      height: 50px;
      margin-top: -50px;
      margin-left: 220px;
      float: left;
      background-color: darkmagenta;
  }
  
  #quadrado3
  {
      width: 50px;
      height: 50px;
      margin-top: -50px;
      margin-right: 170px;
      float: right;
      background-color: darkmagenta;
  }
  